.leaflet {
    border: 1px solid #ECEFF8;
    width: 70px;
    height: 36px;
    border-radius: 100px;
    align-items: center;
    justify-content: space-around;

    &__button {
        @include button();
        display: flex;
        background-color: inherit;
        width: 32px;
        height: 32px;
        align-items: center;
        justify-content: center;

        &:hover {
            border-radius: 50%;
            background-color: #E2EEFC;
        }

        &:active {
            border-radius: 50%;
            background-color: var(--blue-light);

        }
    }

    &__icon {
        width: 15px;
        height: 15px;

        &--right {
            transform: rotate(180deg);
        }
    }
}