.viewing {
    width: 160px;
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 5px;
    padding: 6px 8px;
    padding-left: 30px;
    box-shadow: 0px 2px 7px 0px #1C2D401F;

    font-family: 'Manrope';
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    color: var(--grey);

    &::before {
        position: absolute;
        content: '';
        top: 50%;
        transform: translateY(-50%);
        left: 7px;
        width: 15px;
        height: 15px;

        background-image: url(../img/Search1.svg);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }
}