  @font-face {
    font-family: "Inter";
    src: local("Inter_18pt-Regular.woff2"), local("Inter 18pt-Regular.woff2"),
      url('../fonts/Inter_18pt-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "Inter";
    src: local("Inter_18pt-Medium.woff2"), local("Inter 18pt-Medium.woff2"),
      url('../fonts/Inter_18pt-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "Inter";
    src: local("Inter_18pt-SemiBold.woff2"), local("Inter 18pt-SemiBold.woff2"),
      url('../fonts/Inter_18pt-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "Manrope";
    src: local("Manrope-Regular.woff2"), local("Manrope Regular.woff2"),
      url('../fonts/Inter_18pt-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "Manrope";
    src: local("Manrope-Bold.woff2"), local("Manrope Bold.woff2"),
      url('../fonts/Manrope-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }