@mixin min-max($min-width, $max-width) {
  min-width: $min-width;
  max-width: $max-width;
  box-sizing: border-box;
  margin: 0 auto;
}

@mixin list-reset($padding-left: 0) {
  margin: 0;
  padding-left: $padding-left;
  list-style: none;
}

@mixin link-reset($text-decoration: none) {
  text-decoration: $text-decoration;
  cursor: pointer;
}

@mixin button() {
  text-align: center;
  display: block;
  cursor: pointer;
  box-shadow: none;
  appearance: none;
  border: none;
}

@mixin transfor-center() {
  height: 15px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin font($font-size: 14px, $line-height: 18px) {
  font-size: $font-size;
  line-height: $line-height;
}

@mixin padding-link-header() {
  padding-top: 20px;
  padding-bottom: 20px;
}

@function em($pixels, $context: $browser-context) {
  $result: calc($pixels / $context);
  @return ($result)+0em;
}

// $min-font-size-px - минимальное значение шрифта в пикселях
// $min-font-size - минимальное значение шрифта в числе
// $max-font-size - максимальное значение шрифта в числе
// $min-width-px - минимальное значение вьпорта в пикселях
// $max-width - максимальное значение вьюпорта в числе
// $min-width - минимальное значение вьюпорта в числе

@function resize-font($min-font-size-px, $max-font-size, $min-font-size, $min-width-px, $max-width, $min-width) {
  $font-size: calc($min-font-size-px + (($max-font-size - $min-font-size) * (100vw - $min-width-px) / ($max-width - $min-width)));
  @return ($font-size);
}

@function resize-font-mobile($min-font-size-px, $max-font-size, $min-font-size) {
  $font-size: resize-font($min-font-size-px, $max-font-size, $min-font-size, 320px, 768, 320);
  @return ($font-size);
}

@function resize-font-tablet($min-font-size-px, $max-font-size, $min-font-size) {
  $font-size: resize-font($min-font-size-px, $max-font-size, $min-font-size, 768px, 1024, 768);
  @return ($font-size);
}